<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="sticky-header" th:fragment="header">
    <div class="header-bottom position-relative">
        <div class="container">
            <div class="row align-items-center justify-content-start justify-content-lg-between">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="logo">
                        <a href="/"><img th:src="@{assets/img/logo.png}" style="height: 96px; width: 240px;" /></a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <nav id="mobile-menu" style="display: block;">
                        <ul class="main-menu">
                            <!-- Home -->
                            <li><a href="/">Home</a></li>
                            <!-- <li class="has-submenu"><a href="https://themes.themewild.com/eventex/schedule.html#">home </a>
                              <ul class="submenu">
                                <li><a href="https://themes.themewild.com/eventex/index.html">home 01</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/index-2.html">home 02</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/index-3.html">home 03</a>
                                </li>
                              </ul>
                            </li> -->

                            <!-- About us -->
                            <!-- <li><a href="https://themes.themewild.com/eventex/about.html">about</a></li> -->

                            <!-- Pages -->
                            <!-- <li class="has-submenu"><a href="https://themes.themewild.com/eventex/schedule.html#">pages</a>
                              <ul class="submenu">
                                <li><a href="https://themes.themewild.com/eventex/about.html">about us</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/team.html">team</a></li>
                                <li><a href="https://themes.themewild.com/eventex/pricing.html">pricing</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/contact.html">contact
                                    us</a></li>
                                <li><a href="https://themes.themewild.com/eventex/gallery.html">gallery</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/login.html">login</a></li>
                                <li>
                                  <a href="https://themes.themewild.com/eventex/register.html">register</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/forgot-password.html">forgot
                                    password</a></li>
                                <li><a href="https://themes.themewild.com/eventex/faq.html">faq</a></li>
                                <li><a href="https://themes.themewild.com/eventex/term-condition.html">terms
                                    &amp; conditions</a></li>
                                <li><a href="https://themes.themewild.com/eventex/privacy-policy.html">privacy
                                    policy</a></li>
                                <li><a href="https://themes.themewild.com/eventex/404.html">error page</a>
                                </li>
                              </ul>
                            </li> -->

                            <!-- Speaker -->
                            <!-- <li class="has-submenu"><a href="https://themes.themewild.com/eventex/schedule.html#">speakers </a>
                              <ul class="submenu">
                                <li>
                                  <a href="https://themes.themewild.com/eventex/speakers.html">speakers</a>
                                </li>
                                <li><a href="https://themes.themewild.com/eventex/speaker-single.html">speaker
                                    single</a></li>
                              </ul>
                            </li> -->

                            <!-- Schedule -->
                            <!-- <li class="has-submenu"><a href="https://themes.themewild.com/eventex/schedule.html#">schedule </a>
                              <ul class="submenu">
                                <li><a href="https://themes.themewild.com/eventex/schedule.html">schedule
                                    one</a></li>
                                <li><a href="https://themes.themewild.com/eventex/schedule-2.html">schedule
                                    two</a></li>
                                <li><a href="https://themes.themewild.com/eventex/schedule-single.html">schedule
                                    single</a></li>
                              </ul>
                            </li> -->

                            <!-- Blog -->
                            <!-- <li class="has-submenu"><a href="https://themes.themewild.com/eventex/schedule.html#">blog</a>
                              <ul class="submenu">
                                <li><a href="https://themes.themewild.com/eventex/blog.html">blog</a></li>
                                <li><a href="https://themes.themewild.com/eventex/blog-single.html">blog
                                    single</a></li>
                              </ul>
                            </li> -->

                            <!-- Ticket -->
                            <!-- <li><a href="https://themes.themewild.com/eventex/ticket.html">ticket</a></li> -->
                        </ul>
                    </nav>
                </div>

                <!-- Contact us -->
                <!-- <div class="col-lg-2 col-md-6 col-sm-8 col-6">
                  <div class="header-btn text-center text-lg-end">
                    <a class="btn1" href="https://themes.themewild.com/eventex/contact.html">contact us</a>
                  </div>
                </div> -->
            </div>
            <div class="mobile-menu"></div>
        </div>
    </div>
</div>